#barra {
  font-family: Trebuchet MS;
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 21px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2f2f2f;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;


}

#boton {
  position: absolute;
  left: 0;
  box-shadow: 0px 5px 10px #79ce71 inset;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;  font-size: 20px;
  PADDING: 3PX;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-style: italic;
}
.imagen-icono{
  max-width: 18px;
}
