<!-- <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="desktop">
  <div
    *ngFor="let icon of desktopIcons"
    cdkDrag
    class="icon"
    style="background-color: blue"
  >
    <img
      src="{{ icon.url }}"
      alt="{{ icon.name }}"
      style="background-color: red"
    />
  </div>
</div> -->

<!-- <div #rowLayout cdkDropListGroup>
  <div
    fxLayout="row"
    *ngFor="let itemsRow of getItemsTable(rowLayout)"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="itemsRow"
    (cdkDropListDropped)="reorderDroppedItem($event)"
  >
    <div *ngFor="let item of itemsRow" cdkDrag>
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      <div fxLayoutAlign="center center" class="item-box">{{ item }}</div>
    </div>
  </div>
</div> -->
