<mat-dialog-content class="custom-dialog">
  <div class="window" style="width: 300px">
    <div class="title-bar">
      <div
        class="title-bar-text"
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
        cdkDragHandle
      >
        A Complete Window
      </div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <p>Hello, world!</p>
    </div>
  </div>
</mat-dialog-content>
