/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('./assets/img/wxp-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
// @media (aspect-ratio: 16/9) {
//   body {
//     background-color: red;
//   }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container .custom-dialog-container .mat-dialog-container {
  padding: 0px!important;
}


.mat-mdc-menu-panel {
  max-width: unset!important;
  overflow: unset!important;
  background-color: unset!important;
}
